<div class="left">
  <img
    class="image"
    src="assets/Hero%20Blocks.png"
  />
</div>

<div class="right">
  <div class="content">
    <div class="content-top">
      <div class="title headings_h2">
        Homeware that puts quality and style at the heart of its brand
      </div>

      <div class="subtitle body_large">
        With our new collection, view over 400 bespoke pieces
        from homeware through to furniture today
      </div>
    </div>

    <div>
      View collection
    </div>
  </div>
</div>
