:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 16px;
  background-color: #0E1114;
  overflow: hidden;

  @media (width > 1080px) {
    padding: 120px 100px 75px;
    gap: 88px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #FFF;

  @media (width > 1080px) {
    gap: 16px;
  }

  .title {
    font-size: 28px;
    letter-spacing: -2.1px;

    @media (width > 1080px) {
      font-size: 50px;
    }
  }

  .subtitle {
    font-size: 16px;
    max-width: 715px;
    text-align: center;
    line-height: 120%;
    letter-spacing: -0.20px;

    @media (width > 1080px) {
      font-size: 18px;
    }
  }
}

.item-wrap {
  max-width: 100%;
}

.team-list {
  display: flex;
  gap: 24px;

  overflow: scroll;

}
