<div *ngIf="!loading">
  <div *ngFor="let item of list">
    <div *ngIf="item.type === 'STRING'">
      <app-string-edit
        [attribute]="item"
        [edit]="getString(item.id)"
        [langList]="langList"
      ></app-string-edit>
    </div>

    <div *ngIf="item.type === 'DESCRIPTION'">
      <div mat-subheader>{{ item.id }}</div>

<!--      <span>-->
<!--        <span *ngFor="let field of getString(item.id) | keyvalue">-->
<!--          <mat-form-field-->
<!--            appearance="fill"-->
<!--            *ngIf="field.value"-->
<!--          >-->
<!--            <mat-label>-->
<!--              No lang-->
<!--            </mat-label>-->

<!--            <textarea-->
<!--              matInput-->
<!--              [formControl]="field.value"-->
<!--            ></textarea>-->

<!--            <button-->
<!--              matSuffix-->
<!--              type="button"-->
<!--              mat-icon-button-->
<!--              aria-label="add"-->
<!--              (click)="clearEdit(item.id, field.key)"-->
<!--            >-->
<!--              <mat-icon>close</mat-icon>-->
<!--            </button>-->
<!--          </mat-form-field>-->
<!--        </span>-->

<!--        <button-->
<!--          matSuffix-->
<!--          type="button"-->
<!--          mat-button-->
<!--          aria-label="add"-->
<!--          (click)="addEdit(item.id, '')"-->
<!--        >-->
<!--          <mat-icon>add</mat-icon>-->

<!--          no lang-->
<!--        </button>-->
<!--      </span>-->

      <!--      <span *ngFor="let lang of lang">-->
      <!--        <span *ngFor="let field of edit[item.id][lang.id]; let i = index">-->
      <!--          <mat-form-field-->
      <!--            appearance="fill"-->
      <!--            *ngIf="edit[item.id][lang.id][i]"-->
      <!--          >-->
      <!--            <mat-label>-->
      <!--              {{ lang.id }}-->
      <!--            </mat-label>-->

      <!--            <input-->
      <!--              matInput-->
      <!--              [name]="item.id + '_' + lang.id"-->
      <!--              [(ngModel)]="edit[item.id][lang.id][i]"-->
      <!--            />-->

      <!--            <button-->
      <!--              matSuffix-->
      <!--              type="button"-->
      <!--              mat-icon-button-->
      <!--              aria-label="add"-->
      <!--              (click)="clearEdit(item.id, lang.id, i)"-->
      <!--            >-->
      <!--              <mat-icon>close</mat-icon>-->
      <!--            </button>-->
      <!--          </mat-form-field>-->
      <!--        </span>-->

      <!--        <button-->
      <!--          matSuffix-->
      <!--          type="button"-->
      <!--          mat-button-->
      <!--          aria-label="add"-->
      <!--          (click)="addEdit(item.id, lang.id)"-->
      <!--        >-->
      <!--          <mat-icon>add</mat-icon>-->

      <!--          {{ lang.id }}-->
      <!--        </button>-->
      <!--      </span>-->
    </div>

    <div *ngIf="item.type === 'INTERVAL'">
      <div mat-subheader>{{ item.id }}</div>

      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="getRange(item)" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div *ngIf="item.type === 'POINT'">
      <div mat-subheader>{{ item.id }}</div>

      <span>
        {{ getPoint(item.id).value || 'NONE' }}

        <button
          mat-icon-button
          type="button"
          (click)="openPoint(item.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </span>
    </div>

    <div *ngIf="item.type === 'COUNTER'">
      <div mat-subheader>{{ item.id }}</div>

      <span>
        {{ getCounter(item.id).value || 'NONE' }}

        <button
          mat-icon-button
          type="button"
          (click)="openCounter(item.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <mat-form-field appearance="fill">
          <mat-label>
            No lang
          </mat-label>

          <input
            matInput
            [formControl]="getCount(item.id)"
          />
        </mat-form-field>
      </span>
    </div>
  </div>
</div>
