<div *ngIf="!loading">
  <div
    *ngFor="let item of list"
  >
    <div mat-subheader>{{ item.id }}</div>

    <span>
    <span *ngFor="let field of edit[item.id]['']; let i = index">
      <mat-form-field appearance="fill">
        <mat-label>
          No lang
        </mat-label>

        <input
          matInput
          [(ngModel)]="field.value"
        />

        <button
          matSuffix
          type="button"
          mat-icon-button
          aria-label="add"
          (click)="clearEdit(item.id, '', i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>

    <button
      matSuffix
      type="button"
      mat-button
      aria-label="add"
      (click)="addEdit(item.id, '')"
    >
      <mat-icon>add</mat-icon>

      no lang
    </button>
  </span>

    <span *ngFor="let lang of lang">
    <span *ngFor="let field of edit[item.id][lang.id]; let i = index">
      <mat-form-field
        appearance="fill"
        *ngIf="edit[item.id][lang.id][i]"
      >
        <mat-label>
          {{ lang.id }}
        </mat-label>

        <input
          matInput
          [name]="item.id + '_' + lang.id"
          [(ngModel)]="edit[item.id][lang.id][i].value"
        />

        <button
          matSuffix
          type="button"
          mat-icon-button
          aria-label="add"
          (click)="clearEdit(item.id, lang.id, i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>

    <button
      matSuffix
      type="button"
      mat-button
      aria-label="add"
      (click)="addEdit(item.id, lang.id)"
    >
      <mat-icon>add</mat-icon>

      {{ lang.id }}
    </button>
  </span>
  </div>
</div>
