
.root {
    display: none;
    height: 75px;
    align-items: center;
    padding: 0 165px;
}

@media screen and (min-width: 768px) {
    .root {
        display: flex;
    }
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: end;
}


