<div class="select">
  <div class="text">
    <div class="label">
      {{label}}
    </div>

    <div class="current">
      {{getCurrentName()}}
    </div>
  </div>

  <div
    class="open"
    (click)="handleOpen()"
  >
    <img
      src="assets/svg/ChevronDown.svg"
      width="11"
      height="11"
    />
  </div>
</div>

<div
  class="drop"
  *ngIf="open"
>
  <div class="inner">
    <div
      *ngFor="let item of list"
      class="point"
      (click)="handleClick(item.id)"
    >
      {{item.name}}
    </div>
  </div>
</div>
