
.top {
  display: flex;
  gap: 24px;
}

.add-input {
  display: none;
}

.image-add {
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection {
  padding: 16px;
  display: flex;
  gap: 12px;
  overflow: scroll;
}

.image-card {
  width: 200px;
}

.image-text {
  flex: 1;
  overflow-wrap: break-word;
}

.image-image {
  max-height: 200px
}
