<!--<mat-toolbar *ngIf="list.length">-->
<!--  <span> Content block </span>-->

<!--  <span class="spacer"></span>-->

<!--  <button-->
<!--    mat-icon-button-->
<!--    (click)="addItem()"-->
<!--    title="add item"-->
<!--  >-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </button>-->

<!--  <button-->
<!--    mat-icon-button-->
<!--    (click)="deleteList()"-->
<!--    title="delete item"-->
<!--  >-->
<!--    <mat-icon>delete</mat-icon>-->
<!--  </button>-->

<!--  <button-->
<!--    mat-icon-button-->
<!--    title="field setting"-->
<!--  >-->
<!--    <mat-icon>settings</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<!--<ng-content></ng-content>-->

<!--<table-->
<!--  mat-table-->
<!--  [dataSource]="list"-->
<!--  *ngIf="list.length"-->
<!--&gt;-->
<!--  <ng-container matColumnDef="select">-->
<!--    <th-->
<!--      class="select"-->
<!--      mat-header-cell-->
<!--      *matHeaderCellDef-->
<!--    >-->
<!--      <mat-checkbox-->
<!--        (change)="$event ? toggleAllRows() : null"-->
<!--        [checked]="selection.hasValue() && isAllSelected()"-->
<!--        [indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--      >-->
<!--      </mat-checkbox>-->
<!--    </th>-->

<!--    <td-->
<!--      mat-cell-->
<!--      *matCellDef="let row"-->
<!--      class="select"-->
<!--    >-->
<!--      <mat-checkbox-->
<!--        (click)="$event.stopPropagation()"-->
<!--        (change)="$event ? this.selection.toggle(row) : null"-->
<!--        [checked]="selection.isSelected(row)"-->
<!--      >-->
<!--      </mat-checkbox>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="action">-->
<!--    <th-->
<!--      mat-header-cell-->
<!--      *matHeaderCellDef-->
<!--      class="action"-->
<!--    ></th>-->

<!--    <td-->
<!--      mat-cell-->
<!--      *matCellDef="let element"-->
<!--      class="action"-->
<!--    >-->
<!--      <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--        <mat-icon>more_vert</mat-icon>-->
<!--      </button>-->

<!--&lt;!&ndash;      <mat-menu #menu="matMenu">&ndash;&gt;-->
<!--&lt;!&ndash;        <app-item-menu&ndash;&gt;-->
<!--&lt;!&ndash;          [flags]="flagList"&ndash;&gt;-->
<!--&lt;!&ndash;          [active]="activeFlags[element.id] || []"&ndash;&gt;-->
<!--&lt;!&ndash;          [onDelete]="deleteItem.bind(this, element.id)"&ndash;&gt;-->
<!--&lt;!&ndash;          [onEdit]="updateItem.bind(this, element.id)"&ndash;&gt;-->
<!--&lt;!&ndash;          [onFlag]="toggleFlag.bind(this, +element.id)"&ndash;&gt;-->
<!--&lt;!&ndash;        ></app-item-menu>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-menu>&ndash;&gt;-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container-->
<!--    *ngFor="let prop of columns"-->
<!--    [matColumnDef]="prop"-->
<!--  >-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <span>{{ prop }}</span>-->
<!--    </th>-->

<!--    <td mat-cell *matCellDef="let element">-->
<!--      <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(element[prop])"></span>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>-->
<!--</table>-->

<!--&lt;!&ndash;<mat-paginator&ndash;&gt;-->
<!--&lt;!&ndash;  *ngIf="list.length"&ndash;&gt;-->
<!--&lt;!&ndash;  [length]="totalCount"&ndash;&gt;-->
<!--&lt;!&ndash;  [pageSize]="pageSize"&ndash;&gt;-->
<!--&lt;!&ndash;  [pageIndex]="currentPage"&ndash;&gt;-->
<!--&lt;!&ndash;  [pageSizeOptions]="[10, 25, 50, 100]"&ndash;&gt;-->
<!--&lt;!&ndash;  (page)="changePage($event)"&ndash;&gt;-->
<!--&lt;!&ndash;  aria-label="Select page"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</mat-paginator>&ndash;&gt;-->

<!--&lt;!&ndash;<app-add-button&ndash;&gt;-->
<!--&lt;!&ndash;  [onClick]="addItem.bind(this)"&ndash;&gt;-->
<!--&lt;!&ndash;  *ngIf="!list.length"&ndash;&gt;-->
<!--&lt;!&ndash;  name="Directory"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;</app-add-button>&ndash;&gt;-->
