<header class="bar">
  <div
    class="burger"
    (click)="toggleOpen()"
  >
    <img
      *ngIf="!open"
      src="assets/svg/hamburger-menu.svg"
      width="32"
      height="17"
    />

    <img
      *ngIf="open"
      src="assets/svg/cross.svg"
      width="32"
      height="17"
    />
  </div>

  <a
    routerLink="/"
    class="logo"
  >
    <img
      src="assets/svg/Logo.svg"
      alt=""
      height="34"
      width="130"
    />
  </a>

  <div
    [class.open]="open"
    class="menu"
  >
    <div *ngFor="let item of menu">
      <a [routerLink]="item.link">
        {{item.name}}

        <img
          *ngIf="item.icon"
          [ngSrc]="item.icon"
        />
      </a>
    </div>
  </div>

  <div class="icons">
    <img
      src="assets/svg/Profile.svg"
      height="34"
      width="34"
      alt=""
    />
    <img
      src="assets/svg/Cart.svg"
      height="26"
      width="26"
      alt=""
    />
  </div>
</header>
