:host {
  background-color: lightgrey;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;}

.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.testimonial-list {
  flex: 1;
  overflow: scroll;
}
