.root {
    background-color: var(--color-black);
    padding: 60px 165px 117px;
}

.box {
    border-top: 1.5px solid var(--colot-white);
    display: flex;
}

.top {
    flex: 1;
}

.logo {
    width: 250px;
    height: 98px;
}

.text {
    color: var(--colot-white);
    max-width: 250px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 18px;
}

@media screen and (max-width: 768px) {
    .root {
        padding: 30px 15px 86px;
    }

    .box {
        flex-direction: column;
    }

    .logo {
        width: 150px;
        height: 60px;
    }

    .menu {
        column-gap: 9px;
        row-gap: 30px;
        margin-top: 55px;
    }

    .top {
        margin-top: 7px;
    }
}

