
.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 168px;
}

.title {
    color: var(--color-green);
}

.list {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.item {
    color: var(--colot-white);
}

@media screen and (max-width: 768px) {
    .root {
        gap: 20px;
    }

    .list {
        gap: 12px
    }
}