
.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 168px;
}

.title {
    color: var(--color-green);
}

.list {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.item {
    color: var(--colot-white);
}