
.inter-100 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  letter-spacing: -0.08px;
}

.inter-200 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  letter-spacing: -0.09px;
}

.inter-300 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.inter-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: -0.11px;
}

.inter-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: -0.12px;
}

.inter-600 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: -0.13px;
}

.inter-700 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing: -0.14px;
}

.inter-800 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  letter-spacing: -0.15px;
}

.inter-900 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  letter-spacing: -0.16px;
}
