
.headings_h1 {
  font-family: "ClashDisplay-Regular", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 400;
}


.headings_h2 {
  font-family: "ClashDisplay-Regular", sans-serif;
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
}

.headings_h3 {
  font-family: "ClashDisplay-Regular", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
}

.headings_h4 {
  font-family: "ClashDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.body_large {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.body_medium {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.satoshi_regular_16 {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.satoshi_regular_14 {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.clash_regular_16 {
  font-family: "ClashDisplay-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
