<div class="box">
  <h3 class="title">
    <span class="text">Content blocks</span>

    <button
      mat-icon-button
      (click)="handleEdit()"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </h3>
</div>

<mat-list role="list">
  <mat-list-item
    role="listitem"
    class="item"
    *ngFor="let block of list"
  >
    <div matListItemTitle>Block {{block.id}}</div>
    <div matListItemLine>Element {{block.count}}</div>
    <div matListItemLine>Section {{block.count}}</div>

    <div  matListItemMeta>
      <button
        mat-icon-button
        (click)="handleMove(block.id)"
      >
        <mat-icon>forward icon</mat-icon>
      </button>
    </div>

<!--    <div class="title">-->
<!--      <div class="text">-->
<!--        Block {{ block.id }}-->
<!--      </div>-->

<!--      <button-->
<!--        mat-icon-button-->
<!--        (click)="handleMove(block.id)"-->
<!--      >-->
<!--        <mat-icon>forward icon</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
  </mat-list-item>
</mat-list>
