:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.select {
  width: 36px;
}

.action {
  width: 48px;
}

.moveto {
  width: 36px;
}

.date {
  width: 120px;
}

.spacer {
  flex: 1;
}

