<h3>
  {{collectionId}}

  <input
    class="add-input"
    type="file"
    #fileInput
    (change)="onLoadImage($event)"
  />

  <button
    mat-icon-button
    title="Add image"
    type="button"
    (click)="fileInput.click()"
  >
    <mat-icon>add</mat-icon>
  </button>
</h3>

<div class="collection">
  <mat-card
    *ngFor="let image of imageList"
    class="image-card"
  >
    <img
      class="image-image"
      mat-card-image
      [src]="'http://localhost:3030/' + image.path"
    />

    <mat-card-content class="image-text">
      {{image.original}}
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button
        mat-button
        type="button"
        (click)="handleDeleteImage(image.id)"
      >Delete
      </button>
      <button mat-button>Remove</button>
    </mat-card-actions>
  </mat-card>

  <mat-card
    *ngFor="let image of editList"
    class="image-card"
  >
    <img
      class="image-image"
      mat-card-image
      [src]="image.hash"
    />

    <mat-card-content class="image-text">
      {{image.file.name}}
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button
        type="button"
        mat-button
        (click)="handleDeleteEdit(image)"
      >Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
