
.image-input {
  display: none;
}

.image-add {
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-list {
  padding: 16px;
  display: flex;
  gap: 12px;
  overflow: scroll;
}

.image-list-item {
  width: 200px;
}

.image-list-text {
  flex: 1;
  overflow-wrap: break-word;
}

.image-list-image {
  max-height: 200px
}
