<div class="line">
  <div>
    <img src="assets/svg/footer.svg"/>

    <div class="text">
      Your natural candle made for your home and for your wellness.
    </div>
  </div>
  
  <div class="list">
    <div
      *ngFor="let list of menu"
      class="menu"
    >
      <div class="title">
        {{list.title}}
      </div>

      <div class="items">
        <a
          class="item"
          *ngFor="let item of list.items"
          [routerLink]="item.link"
        >
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
</div>

