<div class="top">
  <div class="search">
    <img
      src="assets/svg/Search.svg"
      alt=""
    />
  </div>

  <div class="logo headings_h3">
    <a routerLink="/">
      Avion
    </a>
  </div>

  <div class="icons">
    <img
      class="mobile_only"
      src="assets/svg/Search.svg"
      alt=""
    />

    <img
      src="assets/svg/Shopping--cart.svg"
      alt=""
    />

    <img
      src="assets/svg/User--avatar.svg"
      alt=""
    />

    <img
      class="mobile_only"
      src="assets/svg/Menu.svg"
      alt=""
    />
  </div>
</div>

<div class="line"></div>

<div class="bottom">
  <div class="menu">
    <div
      *ngFor="let item of menu"
      class="item satoshi_regular_16"
    >
      <a [routerLink]="item.link">
        {{ item.title }}
      </a>
    </div>
  </div>
</div>
