<div class="image">
  <img [src]="item.image" alt="" />
</div>

<div class="card">
  <div class="top">
    <div class="title inter-700">
      {{ item.title }}
    </div>

    <div class="text inter-400">
      {{ item.text }}
    </div>
  </div>

  <a [href]="item.link" class="learn inter-700">
    Learn more

    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.4492 3.79297L17.4999 10.8437L10.4492 17.8944" stroke="#14C88C" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.4999 10.8438L2.5 10.8438" stroke="#14C88C" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
</div>
