:host {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  :host {
    width: 90%;
  }
}

.title {
  color: var(--black, #272727);
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.9px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  align-items: center;
}

.registration {
  flex: 1;
  cursor: pointer;

  color: var(--green, #56B280);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.9px;
  text-decoration-line: underline;
}

.ok-button {
  flex: 1;

  color: #FFF;

  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
