:host {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width > 1080px) {
    gap: 32px;
  }
}

.image {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  img {
    max-width: 300px;
    max-height: 280px;

    @media (width > 1080px) {
      max-width: 412px;
      max-height: 331px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .name {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 120%;

    @media (width > 1080px) {
      font-size: 28px;
      line-height: 38px;
    }
  }

  .position {
    color: #908F9A;
    font-size: 16px;
    line-height: 120%;

    @media (width > 1080px) {
      font-size: 20px;
    }
  }
}
