:host {
  display: flex;
  gap: 7px;
}

.box {
  border: 2px solid #B7B7B7;
  width: 16px;
  height: 16px;
}

.box.checked {
  background-color: #B7B7B7;
}

.text {
  color: #272727;

  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
