<div class="title">
  Registration
</div>

<div class="contact_form">
  <div class="line">
    <div class="subtitle">
      Contact
    </div>

    <div>
      Do you have an account?  <span class="login">Login</span>
    </div>
  </div>

  <div class="form">
    <app-input
      [(value)]="contact"
      placeholder="Email or mobile phone number"
    ></app-input>
    <app-input
      [(value)]="password"
      placeholder="Password"
    ></app-input>
    <app-input
      [(value)]="confirm"
      placeholder="Confirm password"
    ></app-input>
  </div>

  <app-checkbox
    [(checked)]="newsletter"
    text="Add me to Candleaf newsletter for a 10% discount"
  ></app-checkbox>
</div>

<div class="shipping_form">
  <div class="subtitle">
    Shipping Address
  </div>

  <div class="form">
    <div class="line">
      <app-input
        class="input"
        [(value)]="name"
        placeholder="Name"
      ></app-input>
      <app-input
        class="input"
        [(value)]="second"
        placeholder="Second Name"
      ></app-input>
    </div>

    <app-input
      [(value)]="address"
      placeholder="Address and number"
    ></app-input>

    <app-input
      [(value)]="note"
      placeholder="Shipping note (optional)"
    ></app-input>

    <div class="line">
      <app-input
        class="input"
        [(value)]="city"
        placeholder="City"
      ></app-input>

      <app-input
        class="input"
        [(value)]="postal"
        placeholder="Postal Code"
      ></app-input>

      <app-select
        class="input"
        label="Province"
        [(current)]="province"
        [list]="provinceList"
      ></app-select>
    </div>

    <app-select
      class="input"
      [(current)]="country"
      [list]="provinceList"
      label="Country/Region"
    ></app-select>
  </div>
</div>


<app-button>
  Register
</app-button>
