:host {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 445px;
}

.title {
  color: var(--black, #272727);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.9px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shipping_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  flex: 1;
  color: var(--black, #272727);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 128% */
  letter-spacing: -0.9px;
}

.login {
  color: var(--green, #56B280);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.line {
  display: flex;
  gap: 12px;
}

.input {
  flex: 1;
}
