

<div class="left">
  <div class="content">
    <div class="top">
      <div class="headings_h2">
        It started with a small idea
      </div>

      <div class="body_large">
        A global brand with local beginnings, our story begain in a small studio in South London in early 2014
      </div>
    </div>

    <div class="spacer"></div>

    <div class="bottom">
      <button>
        View collection
      </button>
    </div>
  </div>
</div>

<div class="right">
  <img
    class="image"
    src="assets/Image%20Block.png"
  />
</div>
