:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.select {
  width: 36px;
}

.action {
  width: 48px;
}

.date {
  width: 160px;
}

.flags {
  display: flex;
  gap: 4px;
}

.collapse {
  width: 1px;
}
