<div class="top">
  <div class="left">
    <div class="company">
      <div class="company-title headings_h1">
        Avion
      </div>

      <div class="company-address satoshi_regular_14">
        <div>21 New York Street</div>
        <div>New York City</div>
        <div>United States of America</div>
        <div>432 34</div>
      </div>
    </div>

    <div class="social">
      <div class="social-title clash_regular_16">
        Social links
      </div>

      <div class="social-list">
        <a [routerLink]="'/'">
          <img src="assets/svg/Logo--linkedin.svg"/>
        </a>
        <a [routerLink]="'/'">
          <img src="assets/svg/Logo--facebook.svg"/>
        </a>
        <a [routerLink]="'/'">
          <img src="assets/svg/Logo--instagram.svg"/>
        </a>
        <img src="assets/svg/Logo--skype.svg"/>
        <img src="assets/svg/Logo--twitter.svg"/>
        <img src="assets/svg/Logo--pinterest.svg"/>
      </div>
    </div>
  </div>

  <div class="menu">
    <div
      *ngFor="let menuItem of menu"
      class="menu-item"
      [class.desktop_only]="!menuItem.mobile"
    >
      <a
        class="menu-title clash_regular_16">
        {{ menuItem.title }}
      </a>

      <div class="menu-list">
        <a
          class="menu-link satoshi_regular_14"
          [routerLink]="item.link"
          *ngFor="let item of menuItem.list"
        >
          {{ item.title }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>

<div class="copyright satoshi_regular_14">
  Copyright 2022 Avion LTD
</div>
