<header class="bar">
  <a
    routerLink="/"
    class="logo"
  >
    <img
      src="assets/svg/Logo.svg"
      alt=""
      height="34"
      width="130"
    />
  </a>

  <div class="menu">
    <div
      class="item"
      *ngFor="let item of menu"
    >
      <a [routerLink]="item.link">
        {{item.name}}

        <img
          *ngIf="item.icon"
          [ngSrc]="item.icon"
        />
      </a>
    </div>
  </div>

  <div class="icons">
    <img
      src="assets/svg/Profile.svg"
      height="34"
      width="34"
      alt=""
    />
    <img
      src="assets/svg/Cart.svg"
      height="26"
      width="26"
      alt=""
    />
  </div>
</header>

<ng-content></ng-content>

<footer>
  <app-common-footer></app-common-footer>
</footer>

